<%= form_for([:main, @baby]) do |f| %>
  <% if @baby.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@baby.errors.count, "error") %> prohibited this baby from being saved:</h2>

      <ul>
      <% @baby.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label t(:long, :scope => :born_at) %>
    <%= f.datetime_select(:born_at, :start_year => 1989, :discard_hour => true)  %>
  </div>

  <div class="actions">
    <%= f.submit "#{t :new_baby_submit}" %>
  </div>
<% end %>
