<div class="baby">
  <p id="notice"><%= notice %></p>

  <dl class="born_at">
    <dt><%=t(:short, :scope => :born_at) %></dt>
    <dd><%=l @baby.born_at.to_date, :format => :default %></dd>
  </dl>


  <ul class="vaccinations">
  <% @vaccinations.each do |vaccination| %>
    <li class="vaccination">
      <strong class="vaccination_title"><%= vaccination.title %> <%= vaccination.series %></strong>
      <p class="vaccinattion_desc"><%= vaccination.desc %></p>
      <p class="least_display"><%= least_display(@baby,vaccination) %></p>
    </li>
  <% end %>
  </ul>


  <%= link_to 'Back', new_main_baby_path %>
</div>