<p id="notice"><%= notice %></p>

<p>
  <b>생일 :</b>
  <%= @baby.born_at %>
</p>

<table>
  <tr>
    <th>Title</th>
    <th>Desc</th>
    <th>Timing</th>
    <th>Contury</th>
    <th>Series</th>
    <th>Least</th>
    <th>Nip</th>
    <th>Injection_type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @vaccinations.each do |vaccination| %>
  <tr>
    <td><%= vaccination.title %></td>
    <td><%= vaccination.desc %></td>
    <td><%= @baby.born_at + vaccination.timing  %></td>
    <td><%= vaccination.contury %></td>
    <td><%= vaccination.series %></td>
    <td><%= vaccination.least %></td>
    <td><%= vaccination.nip %></td>
    <td><%= vaccination.injection_type %></td>
    <td><%= link_to 'Show', vaccination %></td>
    <td><%= link_to 'Edit', edit_vaccination_path(vaccination) %></td>
    <td><%= link_to 'Destroy', vaccination, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Back', new_main_baby_path %>
