<!DOCTYPE html>
<html>
<head>
  <title><%=t :application_title %></title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://baby.d2w.kr" />
  <meta property="og:image" content="http://profile.ak.fbcdn.net/hprofile-ak-snc4/161178_584968875_7546230_q.jpg" />
  <meta property="og:site_name" content="아기" />
  <meta property="fb:app_id" content="175332962531043" />
</head>
<body>
  <div class="main">
    <h1 class="main_title"><%=link_to t(:application_title), root_path %></h1>
    <%= yield %>
  </div>
  
  <div class="footer">
    <div class="sns">
      <div class="twitter">
        <a href="http://twitter.com/share" class="twitter-share-button" data-url="http://baby.d2w.kr" data-text="우리 아가 주사 맞는 날. 쉽게 확인하는 예방 접종 일정표" data-count="vertical" data-via="yujs113" data-lang="ko">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
      </div>

      <div class="facebook">
        <div id="fb-root"></div><script src="http://connect.facebook.net/ko_KR/all.js#appId=175332962531043&xfbml=1"></script>

    </div>
    
    <ul class="credits">
      <li class="credit">
        <dl class="credit">
          <dt>제작 제안:</dt>
          <dd>-_-</dd>
        </dl>
      </li>
      <li class="credit">
        <dl class="credit">
          <dt>제작:</dt>
          <dd><%= link_to "@yujs113", "http://twitter.com/#!/yujs113" %></dd>
          <dd><%= link_to "@onesup", "http://twitter.com/#!/onesup" %></dd>
        </dl>
      </li>
      <li class="credit">
        <dl class="credit">
          <dt>소스:</dt>
          <dd><%= link_to "Fork me", "https://github.com/jaeseonyu/v-schedule"%></dd>
        </dl>
      </li>
    </div>
    <div class="comments">
      <fb:comments href="baby.d2w.kr" num_posts="4" width="640"></fb:comments>
    </div>
    </div>
  </div>
</body>
</html>
