<!DOCTYPE html>
<html>
<head>
  <title><%=t :application_title %></title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class="main">
    <h1 class="main_title"><%=link_to t(:application_title), root_path %></h1>
    <%= yield %>
  </div>
</body>
</html>
